.envelope {
  width: 48px;
  height: 32px;
  position: relative;
  cursor: pointer;
  // &:hover {
  //   .topSide {
  //     transform: rotateX(0deg);
  //     z-index: 3;
  //     transition-delay: 0.3s;
  //   }
  //   .image {
  //     top: -70%;
  //     z-index: 3;
  //     transition-delay: 0.6s;
  //   }
  // }
}

.image {
  width: 90%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  transition: all 1s ease;
  img {
    width: 100%;
  }
}

.topSide {
  top: -24px;
  transform-origin: bottom;
  transform: rotateX(180deg);
  transition: all 0.8s ease;
  transition-delay: 0.6s;
  z-index: 6;
}

.bottomSide {
  position: absolute !important;
  bottom: 0;
  z-index: 4;
}

.topSide,
.bottomSide {
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  position: relative;
}

.leftSide {
  position: absolute;
  left: 0;
}

.rightSide {
  position: absolute;
  right: 0;
}

.leftSide,
.rightSide {
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  top: 0;
  z-index: 4;
}
